/* Réinitialisation des styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

/*style header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  color: #333;
}

header div svg {
  fill: #333; /* Change la couleur de l'icône */
  width: 24px; /* Largeur de l'icône */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  /* cursor: pointer;  */
  /* Change le curseur en main lors du survol de l'icône */
}

header div svg:hover {
  fill: #007bff; /* Couleur de l'icône au survol */
}
/* Contenu principal */
.main-content {
  flex-grow: 1;
  padding: 1rem;
  flex-grow: 1;
}

/* Grille de cartes de livres */
.grid-container {
  flex-grow: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Mise en page en grille avec des colonnes dynamiques */
  gap: 1rem; /* Espacement entre les éléments de la grille */
  overflow: auto;
}

/* Style des cartes de livres */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  /*overflow: hidden;*/
  background: #fff;
}

/* Image à l'intérieur de la carte */
.card img {
  width: 100%;
  height: auto;
}

/* Contenu de la carte */
.card-content {
  /*display: flex;*/
  padding: 0.5rem;
  /*flex-direction: column;*/
  text-align: center;
}

/* Conteneur pour le prix et le bouton d'ajout */
.price-button-container {
  display: flex;
  justify-content: space-between; /* Espace équitable entre les éléments */
  align-items: center;
}

/* Titre de la carte */
.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Prix de la carte */
.card-price {
  font-weight: bold;
  color: #333;
}

/* Bouton d'ajout à la carte */
.add-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  transition: background-color 0.3s;
}

/* Styles de la barre latérale (sidebar) */
.sidebar {
  width: 200px; /* Largeur de la barre latérale */
  padding: 20px;
  background: #f4f4f4; /* Couleur de fond de la barre latérale */
}

/* Styles du menu de la barre latérale */
.sidebar-menu {
  list-style: none; /* Enlève les puces de la liste */
  /*padding-left: 0; /* Enlève le padding à gauche pour aligner correctement les éléments */
}

/* Styles des liens dans le menu de la barre latérale */
.sidebar-menu li a {
  text-decoration: none; /* Enlève le soulignement des liens */
  color: black; /* Couleur du texte des liens */
  display: block; /* Rend le lien en bloc pour occuper toute la largeur pour le survol */
  padding: 10px; /* Espacement autour du texte dans chaque lien */
  /*transition: background-color 0.3s, color 0.3s; /* Animation douce pour le changement de couleur au survol */
}

/* Changement de couleur des liens au survol */
.sidebar-menu li a:hover {
  background-color: black; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}

main {
  display: flex;
}
